{
  "*.{ts,tsx}": ["eslint", "prettier --write"],
  "*.vue": ["prettier --write", "stylelint --fix"],
  "*.{js,jsx}": ["eslint", "prettier --write"],
  "package.json": ["prettier --write"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": ["prettier --write--parser json"],
  "*.{scss,less,styl,css,html}": ["stylelint --fix", "prettier --write"],
  "**/node_modules/**": []
}
